.navbarLink {
    padding: 5px 10px;
    border-radius: 5px;
}

.navbarLink:hover {
    background-color: rgba(112, 135, 198, .4);
    transition: all linear .3s;
}

.navbarLink:active {
    background-color: #4979ff;
}

.seperator {
    margin-bottom: 1px;
    font-size: 29px;
    color: #ddd;
}

.navbarLinks {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 5px;
    padding: 0 10px 5px;
    border-bottom: 1px solid #ddd;
}