.navbarLink {
    padding: 5px 10px;
    border-radius: 5px;
}

.navbarLink:hover {
    border-bottom: 1px solid #4979ff;
    transition: all linear .3s;
}

.navbarLink:active {
    background-color: #4979ff;
}

.navbarLinks {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 5px;
    padding: 0 10px 5px;
    border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 900px) {
    .navbarLink {
        padding: 5px;
    }
  }