.contactContainer {
  padding: 20px 60px 30px;
  background: #fcfcfc;
  max-width: 1024px;
  margin: 10px auto 0;
  border-top: 1px solid #ddd;
  border-radius: 15px 60px 15px 60px;
}

.contactInfo {
  display: inline-block;
  width: 40%;
}

.contactInfo a:hover {
  color: #7087C6;
}
  
.title {
  color: #333;
  letter-spacing: .3px;
  padding: 0 20px 5px;
  text-align: center;
  width: fit-content;
  margin: 0 auto 10px;
}

.underscore {
  width: fit-content;
  padding-right: 9px;
  margin-bottom: 30px;
  border-bottom: 1px solid #333;
}

@media screen and (max-width: 1300px) {
  .contactContainer {
    max-width: 960px;
  }
}
  
@media screen and (max-width: 600px) {
  .contactContainer {
    padding: 20px;
  }
}
  
  