@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
  background: #f6f6f6;
  color: #333;
  font-family: "Nunito";
  margin: 0;
}
a {
  color: #333;
  text-decoration: none;
}
.content {
  margin: 0 auto;
}
nav {
  margin: 10px auto;
  max-width: 1280px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
nav a {
  margin-left: 10px;
  margin-right: 10px
}
nav .logo {
  margin-right: auto;
}
footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin: 60px auto;
  color: #777;
  border-top: 1px solid #eaeaea;
  max-width: 1280px;
}
.not-found {
  text-align: center;
}
.not-found a{
  color: #4979ff;
  text-decoration: underline;
}

@media screen and (max-width: 1300px) {
  nav {
    max-width: 960px;
  }
  footer {
    max-width: 960px;
  }
}