@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  background: #ededed;
  color: #333;
  font-family: 'Open Sans', sans-serif;  
  font-size: 14px;
  margin: 0;
}
a {
  color: #333;
  text-decoration: none;
}
.content {
  margin: 0 auto;
}
nav {
  height: 100px;
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
nav .logo {
  position: absolute;
  top: 15px;
  left: 20px;
}
footer {
  display: block;
  text-align: center;
  padding: 30px 10px;
  margin: 5px auto 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
  max-width: 1024px;
}

footer p {
  text-align: left;
  margin: 3px 0;
}

.not-found {
  text-align: center;
}
.not-found a{
  color: #4979ff;
  text-decoration: underline;
}
