.homeContainer {
  padding: 20px 60px;
  background: rgba(255,255,255,.5);
  max-width: 1280px;
  margin: 0 auto;
  border-top: 1px solid #ddd;
}
.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: #333;
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: center;
}
.background {  
  min-width: 100vw;
  background-size: cover;
  background-image: url('/bridge2.png');
  border-radius: 30px;
}

@media screen and (max-width: 1300px) {
  .homeContainer {
    max-width: 960px;
  }
}

@media screen and (max-width: 600px) {
  .homeContainer {
    padding: 20px;
  }
}

